-- Exp
4
-WWL
L-??
L?-?
W??-

0.1388888888888889
-- Test 19260817
19
-?W???L???LL????WW?
?-???W???W?????????
L?-?WWL?L????????L?
???-W?????L????????
??LL-L????????L????
?LL?W-?L??WW????WLW
W?W???-???W??L???W?
?????W?-????????WLW
??W?????-W???L??LWL
?L??????L-WWW??W???
W??W?LL??L-?LLW??L?
W????L???L?-??LL???
?????????LW?-?W???L
??????W?W?W??-??LW?
????W?????LWL?-LL?W
?????????L?W??W-??W
L????L?LW????WW?-?W
L?W??WLWL?W??L???-?
?????L?LW???W?LLL?-

0.08057179987004548
